# 默认提交时过滤掉Java的class文件，C#的Debug及Release文件。使用时请依照个人习惯进行调整!
*.class
*/WEB-INF/classes/

# IntelliJ project files
.idea
*.iml
out
gen
/.apt_generated/
/.classpath
/.factorypath
/.project
/.settings/
/.springBeans
**/target/
/user-profile-analysis.iml
/.idea
.DS_Store

#log
/logs

*.log
/logs/debug.log


